@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"), url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"), url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url("../fonts/Fraunces-Black.woff2") format("woff2"), url("../fonts/Fraunces-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url("../fonts/Fraunces-Medium.woff2") format("woff2"), url("../fonts/Fraunces-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

img {
  max-width: 100%;
  margin: 0px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1310px) {
  .container {
    max-width: 719px;
  }
}

@media screen and (max-width: 719px) {
  .container {
    max-width: 327px;
  }
}

.header__logo {
  display: block;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 44px 0px;
}

.header {
  display: none;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__item {
  margin: 0;
  padding: 0;
  margin-left: 32px;
}

.nav__link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  border: none;
  color: #83888F;
}

.nav__link-f:hover {
  color: #333D4B;
}

.nav__link-h:hover {
  color: #FEFCF7;
}

.intro__title {
  font-family: Fraunces;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  width: 493px;
  margin: 0px;
}

.intro__discription {
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 445px;
  margin-bottom: 56px;
}

.intro__container {
  background-image: url(../img/intro-img1.jpg);
  /* height: 600px; */
  background-repeat: no-repeat;
  padding-top: 20px;
  background-size: cover;
  border-radius: 10px;
  padding: 117px 100px;
}

.intro__content {
  width: 495px;
}

.intro__crate-plan {
  margin-bottom: 132px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .intro__container {
    background-image: url(../img/introhome@2x.png);
  }
}

@media screen and (max-width: 1310px) {
  .intro__container {
    background-image: url(../img/intro_planshet.png);
    padding: 104px 73px;
  }
  .intro__content {
    width: 400px;
  }
  .intro__title {
    width: 329px;
    font-size: 48px;
    line-height: 48px;
  }
  .intro__discription {
    width: 398px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 719px) {
  .intro__container {
    background-image: url(../img/intro_phone.jpg);
    padding: 100px 24px;
  }
  .intro__content {
    width: 280px;
    text-align: center;
  }
  .intro__title {
    width: 279px;
    font-size: 40px;
    line-height: 40px;
  }
  .intro__discription {
    width: 279px;
    font-size: 15px;
    line-height: 25px;
  }
}

.crate-plan {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  color: #FEFCF7;
  padding: 16px 31px;
  background: #0E8784;
  border-radius: 6px;
}

.crate-plan:hover {
  background: #66D2CF;
  border-radius: 6px;
}

.collection__container {
  position: relative;
  text-align: center;
}

.collection__name {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  /* identical to box height, or 48% */
  margin: 0px;
  /* width: 1111px; */
  margin-top: 136px;
  text-align: center;
  color: #83888F;
  /* z-index: 1; */
}

.collection__name::before {
  content: "";
  position: absolute;
  width: 1111px;
  height: 196px;
  top: -100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.0001)), to(#FEFCF7));
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.collection__list {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0px;
  margin-top: -20px;
}

.collection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 27px;
  margin-bottom: 25px;
  z-index: 1;
}

.collection__item:nth-child(4n),
.collection__item:last-child {
  margin-right: 0;
}

.collection__item-content {
  text-align: center;
}

.collection__item-title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin: 0px;
  text-align: center;
  margin-top: 70px;
  color: #333D4B;
}

.collection__item-discripton {
  line-height: 26px;
  margin-top: 24px;
  width: 255px;
  text-align: center;
  color: #333D4B;
}

@media screen and (max-width: 1310px) {
  .collection__name {
    font-size: 96px;
    line-height: 72px;
  }
  .collection__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -40px;
  }
  .collection__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    margin-bottom: 47px;
  }
  .collection__item-discripton {
    width: 282px;
  }
  .collection__item-content {
    text-align: left;
  }
  .collection__name::before {
    width: 689px;
  }
  .collection__item-title {
    text-align: left;
  }
}

@media screen and (max-width: 719px) {
  .collection__name {
    font-size: 40px;
    line-height: 72px;
  }
  .collection__name::before {
    width: 100%;
  }
  .collection__list {
    margin-top: 13px;
  }
  .collection__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collection__item-content {
    text-align: center;
    width: 100%;
  }
  .collection__item-title {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
  .collection__item-discripton {
    text-align: center;
  }
}

.choose__container {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.choose__name {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 100px;
}

.choose__discription {
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  width: 540px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-left: 370px;
}

.choose__container::before {
  content: "";
  position: absolute;
  display: block;
  width: 1280px;
  height: 577px;
  background-color: #2C343E;
  border-radius: 10px;
  z-index: -1;
}

.choose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 56px;
  width: 1110px;
  margin-left: 85px;
  margin-right: 85px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose__item {
  width: 350px;
  margin-right: 30px;
  background-color: #0E8784;
  border-radius: 8px;
  margin-top: 30px;
  text-align: center;
}

.choose__item:nth-child(3n),
.choose__item:last-child {
  margin-right: 0px;
}

.choose__item--shape {
  background-image: url(../img/shape.svg);
  display: block;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 72px;
}

.choose__item--sovga {
  background-image: url(../img/sovga.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 72px;
  display: block;
}

.choose__item--car {
  background-image: url(../img/car.svg);
  display: block;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 72px;
}

.choose__list-title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-top: 200px;
  text-align: center;
  color: #FEFCF7;
}

.choose__item-discription {
  line-height: 26px;
  /* or 162% */
  margin-top: 24px;
  text-align: center;
  margin-bottom: 48px;
  color: #FEFCF7;
  width: 255px;
  margin-left: 47px;
}

@media screen and (max-width: 1310px) {
  .choose__container {
    text-align: center;
  }
  .choose__container::before {
    width: 688px;
    height: 573px;
  }
  .choose__name {
    font-size: 32px;
    line-height: 48px;
  }
  .choose__discription {
    font-size: 15px;
    line-height: 25px;
    width: 540px;
    margin-left: 70px;
  }
  .choose__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 575px;
    padding: 0;
    margin: 0px;
    padding: 57px;
  }
  .choose__item {
    width: 573px;
    padding: 31px 38px 31px 180px;
    margin: 0px;
    margin-bottom: 24px;
  }
  .choose__item--shape {
    background-position-x: 70px;
    background-position-y: center;
  }
  .choose__item--sovga {
    background-position-x: 70px;
    background-position-y: center;
  }
  .choose__item--car {
    background-position-x: 70px;
    background-position-y: center;
  }
  .choose__list-title {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    margin: 0px;
  }
  .choose__item-discription {
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    margin-left: 0px;
    width: 314px;
    margin: 0px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 719px) {
  .choose__container {
    text-align: center;
    padding-right: 15px;
  }
  .choose__container::before {
    width: 327px;
    height: 902px;
  }
  .choose__name {
    text-align: center;
    font-size: 28px;
    line-height: 28px;
  }
  .choose__discription {
    font-size: 15px;
    line-height: 26px;
    width: 279px;
    text-align: center;
    margin: 20px;
  }
  .choose__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 327px;
    padding: 0;
    text-align: center;
    margin: 0px;
  }
  .choose__item {
    background-position-x: center;
    background-position-y: 72px;
    width: 279px;
    padding: 0px;
    padding-left: 35px;
    padding-top: 200px;
    text-align: center;
    padding-bottom: 48px;
  }
  .choose__list-title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .choose__item-discription {
    font-size: 15px;
    line-height: 25px;
    width: 212px;
    text-align: center;
  }
}

.works__container {
  position: relative;
  padding-bottom: 216px;
  padding-left: 85px;
}

.works__name {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  /* margin-left: 85px; */
  margin-bottom: 178px;
}

.works__num {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */
  margin: 0px;
  color: #FDD6BA;
}

.works__list {
  width: 1111px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin: 0px;
  /* margin-left: 85px; */
  margin-right: 85px;
  margin-bottom: 64px;
}

.works__item {
  padding: 0px;
  margin: 0px;
  width: 300px;
  text-align: left;
  margin-right: 95px;
}

.works__item:nth-child(3n),
.works__item:last-child {
  margin-right: 0px;
}

.works__item-name {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  width: 255px;
  margin-top: 38px;
  margin-bottom: 42px;
  color: #333D4B;
}

.works__item-discription {
  margin: 0px;
  line-height: 26px;
  color: #333D4B;
}

.works__list::before {
  content: "";
  position: absolute;
  display: block;
  width: 790px;
  background-color: #FDD6BA;
  height: 1px;
  top: 150px;
  left: 95px;
  border: 2px solid #FDD6BA;
}

.works__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #FEFCF7;
  top: 138px;
  border: 2px solid #0E8784;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.works__dark-container {
  margin-top: 150px;
  background-color: #2C343E;
  padding-top: 200px;
  padding-bottom: 100px;
}

.works__item-name-plan {
  color: #FEFCF7;
}

.works__item-discription-plan {
  color: #FEFCF7;
}

@media screen and (max-width: 1310px) {
  .works__name {
    font-size: 24px;
    line-height: 32px;
  }
  .works__list::before {
    width: 467px;
    height: 2px;
    left: 15px;
  }
  .works__list {
    margin: 0px;
    padding: 0px;
    width: 688px;
    margin-right: 10px;
  }
  .works__item {
    width: 223px;
    margin: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .works__container {
    padding: 0px;
  }
  .works__num {
    font-size: 72px;
    line-height: 72px;
  }
  .works__item-name {
    font-size: 28px;
    line-height: 32px;
    width: 223px;
  }
  .works__item-discription {
    font-size: 15px;
    line-height: 25px;
    width: 210px;
    margin-bottom: 44px;
  }
  .works__item::before {
    left: 100;
  }
  .works__link {
    width: 217px;
  }
  .works__dark-container {
    margin-top: 150px;
    background-color: #2C343E;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 719px) {
  .works__container {
    text-align: center;
    padding: 24px;
  }
  .works__name {
    margin: 0px;
    margin-bottom: 80px;
  }
  .works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 327px;
    margin-top: 80px;
    padding: 0px;
    margin: 0;
  }
  .works__item {
    width: 100%;
    margin: 0px;
    padding: 0;
    text-align: center;
  }
  .works__item::before {
    display: none;
  }
  .works__list::before {
    display: none;
  }
  .works__item-discription {
    width: 327px;
    text-align: center;
  }
  .works__link {
    width: 100%;
    margin-left: 50px;
  }
  .works__item-name {
    width: 100%;
  }
}

.social__link {
  margin-left: 24px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__container {
  padding-left: 15px;
  padding: 48px 0px;
  background-color: #2C343E;
}

.footer__nav {
  margin-right: 340px;
}

@media screen and (max-width: 1310px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
  }
  .footer__nav {
    margin: 0;
    margin-top: 33px;
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 719px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    margin: 0px;
    margin-bottom: 24px;
  }
  .footer__nav {
    margin-bottom: 39px;
    text-align: center;
  }
  .footer__container {
    text-align: center;
  }
}

/* ABOUT */
.about-intro__container {
  width: 1280px;
  /* height: 450px; */
}

.about-intro__img {
  background-image: url(../img/about_planshet.jpg);
  padding: 137px 85px;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-intro__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #FEFCF7;
  margin: 0px;
}

.about-intro__discription {
  line-height: 26px;
  /* or 162% */
  width: 445px;
  margin: 0px;
  margin-top: 24px;
  color: #FEFCF7;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .about-intro__container {
    background-image: url(../img/introabout@2x.png);
  }
}

@media screen and (max-width: 1310px) {
  .about-intro__img {
    width: 689px;
    background-image: url(../img/about_planshet.jpg);
    background-size: cover;
    border-radius: 10px;
  }
  .about-intro__title {
    font-size: 32px;
    line-height: 40px;
  }
  .about-intro__discription {
    font-size: 15px;
    line-height: 25px;
    width: 398px;
  }
}

@media screen and (max-width: 719px) {
  .about-intro__container {
    background-size: cover;
  }
  .about-intro__img {
    width: 327px;
    background-image: url(../img/about_mobile.jpg);
    background-size: cover;
    padding: 110px 24px 87px;
  }
  .about-intro__title {
    margin: 0;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
  .about-intro__discription {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    width: 279px;
  }
}

.commitment__container {
  margin-top: 168px;
  padding: 90px 165px 90px 735px;
  background-image: url(../img/ourimg.jpg);
  background-repeat: no-repeat;
  background-position: 85px 0px;
}

.commitment__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  margin: 0px;
  color: #333D4B;
}

.commitment__discription {
  line-height: 26px;
  /* or 162% */
  margin: 0px;
  margin-top: 32px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.commitment__content {
  width: 541px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .commitment__container {
    background-image: url(../img/person@2x.png);
  }
}

@media screen and (max-width: 1310px) {
  .commitment__container {
    background-image: url(../img/commitment_planshet.jpg);
    background-position: left;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
    padding-left: 350px;
  }
  .commitment__content {
    width: 340px;
  }
  .commitment__title {
    font-size: 32px;
    line-height: 48px;
  }
  .commitment__discription {
    font-size: 15px;
    line-height: 25px;
    width: 339px;
  }
}

@media screen and (max-width: 719px) {
  .commitment__container {
    background-image: url(../img/commited_mobile.jpg);
    background-size: contain;
    border-radius: 10px;
    background-position: top;
    padding: 0px;
    padding-top: 440px;
  }
  .commitment__content {
    width: 327px;
    text-align: center;
  }
  .commitment__discription {
    width: 327px;
  }
}

.quality__container {
  background-color: #2C343E;
  margin-top: 244px;
  padding-top: 100px;
  padding-left: 85px;
  padding-bottom: 150px;
  position: relative;
  border-radius: 10px;
}

.quality__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  color: #FEFCF7;
}

.headquarters__item-item {
  margin-bottom: 15px;
}

.quality__discription {
  line-height: 26px;
  /* or 162% */
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.quality__content {
  width: 541px;
}

.quality__content::after {
  content: "";
  position: absolute;
  display: block;
  width: 445px;
  height: 474px;
  background-image: url(../img/qualityimg.jpg);
  top: -100px;
  right: 85px;
  border-radius: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .quality__content::after {
    background-image: url(../img/quality@2x.png);
  }
}

@media screen and (max-width: 1310px) {
  .quality__content::after {
    width: 573px;
    height: 320px;
    background-image: url(../img/quality_planshet.jpg);
    left: 75px;
  }
  .quality__container {
    padding: 220px 90px 60px;
    padding-top: 220px;
    text-align: center;
  }
  .quality__content {
    width: 540px;
    text-align: center;
  }
}

@media screen and (max-width: 719px) {
  .quality__container {
    padding: 100px 22px;
    border-radius: 10px;
  }
  .quality__content::after {
    top: -70px;
    width: 279px;
    height: 156px;
    background-image: url(../img/quality_planshet.jpg);
    background-size: contain;
    left: 23px;
  }
  .quality__content {
    width: 280px;
    margin: 0px;
  }
  .quality__title {
    font-size: 28px;
    line-height: 28px;
  }
  .quality__discription {
    font-size: 15px;
    line-height: 25px;
    margin: 0px;
  }
}

.headquarters__conrainer {
  padding-left: 85px;
  padding-top: 120px;
}

.headquarters__name {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #83888F;
  margin-bottom: 72px;
}

.headquarters__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1016;
  padding: 0px;
}

.headquarters__item {
  width: 272px;
  margin-right: 125px;
  margin-bottom: 30px;
  padding-bottom: 138px;
}

.headquarters__item:nth-child(3n), .headquarters__item:last-child {
  margin-right: 0px;
}

.headquarters__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */
  color: #333D4B;
}

.headquarters__discription {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  width: 110px;
  color: #333D4B;
}

.headquarters__title {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 112% */
  color: #333D4B;
}

.headquarters__item-list {
  list-style: none;
  padding: 0;
}

.headquarters__item-item {
  color: #333D4B;
  color: #333D4B;
}

@media screen and (max-width: 1310px) {
  .headquarters__conrainer {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .headquarters__list {
    width: 680px;
  }
  .headquarters__item {
    margin: 0px;
    width: 223px;
  }
  .headquarters__title {
    font-size: 24px;
    line-height: 36px;
  }
  .headquarters__conrainer {
    margin-top: 80px;
  }
}

@media screen and (max-width: 719px) {
  .headquarters__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 326px;
    margin: 0px;
  }
  .headquarters__item {
    text-align: center;
  }
  .headquarters__conrainer {
    text-align: center;
  }
}

/* 3-paga */
.plan-intro__container {
  background-image: url(../img/introimg3.png);
  width: 1280px;
  background-repeat: no-repeat;
  padding: 100px 85px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .plan-intro__container {
    background-image: url(../img/intro3@2x.png);
  }
}

.regstratsiya__container {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.regstratsiya__list {
  list-style: none;
}

.regstratsiya__btn {
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0px;
  width: 225px;
  background-color: #FFFFFF;
  border: none;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  border-bottom: 1px solid #83888F;
}

.regstratsiya__btn-num {
  display: inline;
  margin: 0px;
  margin-right: 5px;
}

.regstratsiya__list {
  padding: 0px;
  margin: 0px;
}

.regstratsiya__item:hover .regstratsiya__btn-num {
  color: #0E8784;
}

.regstratsiya__item:hover .regstratsiya__btn {
  color: #333D4B;
}

.regstratsiya__form-btn {
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
}

.regstratsiya__form {
  width: 730px;
  margin-left: 165px;
}

.regstratsiya__form-list {
  list-style: none;
  padding: 0px;
}

.regstratsiya__form-item:not(:first-child) {
  margin-top: 88px;
}

.regstratsiya__form-btn {
  width: 100%;
  text-align: left;
  background-color: #fff;
  border: none;
}

.regstratsiya {
  margin-top: 150px;
}

.radiolar {
  width: 100%;
}

.radiolar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px;
}

.radiolar__form {
  background: #F4F1EB;
  margin-right: 23px;
  border-radius: 8px;
}

.radiolar__form:nth-child(3n) {
  margin-right: 0px;
}

.radiolar__radio:checked + .radiolar__div {
  background-color: #0E8784;
  color: #fff;
}

.radiolar__div {
  width: 228px;
  padding: 32px 28px 84px;
  border-radius: 8px;
}
/*# sourceMappingURL=main.css.map */