@import "fonts";
@import "general";
@import "mixin";
@import "virables";

.container {
    width: 1280px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.header__logo {
    display: block;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0px;
}


.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav__item {
    margin: 0;
    padding: 0;
    margin-left: 32px;

}

.nav__link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    border: none;
    color: #83888F;
}

.nav__link-f:hover {
    color: #333D4B;
}

.intro__title {
    font-family: Fraunces;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    width: 493px;
    margin: 0px;
}

.intro__discription {
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 445px;
    margin-bottom: 56px;
}

.intro__container {
    background-image: url(../img/intro-img1.jpg);
    width: 1280px;
    /* height: 600px; */
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 100px;



}

.crate-plan {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    color: #FEFCF7;
    padding: 16px 31px;
    background: #0E8784;
    border-radius: 6px;

}

.crate-plan:hover {
    background: #66D2CF;
    border-radius: 6px;
}

.intro__content {
    margin: 117px 85px;
    width: 495px;
}
.intro__crate-plan {
    margin-bottom: 132px;
}
.collection__container{
    position: relative;
}
.collection__name {
    font-family: Fraunces ;
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;
    /* identical to box height, or 48% */
    margin: 0px;
    /* width: 1111px; */
    margin-top: 136px;
    text-align: center;
    color: #83888F;
 /* z-index: 1; */
  

}
.collection__name::before{
content: "";
position: absolute;
width: 1111px;
height: 196px;
top: -100px;
   background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
   
}
.collection__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0px;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: -20px;
   
}

.collection__item {
    display: flex;
    flex-direction: column;
    margin-right: 27px;
    margin-bottom: 25px;
    z-index: 1;
}

.collection__item:nth-child(4n),
.collection__item:last-child {
    margin-right: 0;
}

.collection__item-title {
    font-family: Fraunces;
    font-style: normal;

    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    margin: 0px;
    text-align: center;
    margin-top: 70px;
    color: #333D4B;
}

.collection__item-discripton {
    line-height: 26px;
    margin-top: 24px;
    width: 255px;
    text-align: center;
    color: #333D4B;
}

.choose__container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.choose__name {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    margin-top: 100px;
}

.choose__discription {
    line-height: 26px;


    text-align: center;

    color: #FEFCF7;
    width: 540px;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-left: 370px;
}

.choose__container::before {
    content: "";
    position: absolute;
    display: block;
    width: 1280px;
    height: 577px;
    background-color: #2C343E;
    ;
    border-radius: 10px;
    z-index: -1;
}

.choose__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 56px;
    width: 1110px;
    margin-left: 85px;
    margin-right: 85px;
    justify-content: center;
}

.choose__item {
    width: 350px;
    margin-right: 30px;
    background-color: #0E8784;
    border-radius: 8px;
    margin-top: 30px;
    text-align: center;
}

.choose__item:nth-child(3n),
.choose__item:last-child {
    margin-right: 0px;
}

.choose__item--shape {
    background-image: url(../img/shape.svg);
    display: block;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 72px;

}

.choose__item--sovga {
    background-image: url(../img/sovga.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 72px;
    display: block;

}

.choose__item--car {
    background-image: url(../img/car.svg);
    display: block;

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 72px;
}

.choose__list-title {
    font-family: Fraunces ;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-top: 200px;

    text-align: center;

    color: #FEFCF7;
}

.works__container {
    position: relative;
    padding-bottom: 216px;
    padding-left: 85px;
}

.choose__item-discription {
    line-height: 26px;
    /* or 162% */

    margin-top: 24px;
    text-align: center;
    margin-bottom: 48px;
    color: #FEFCF7;
    width: 255px;
    margin-left: 47px;
}

.works__name {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    /* margin-left: 85px; */
    margin-bottom: 178px;
}

.works__num {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* identical to box height, or 100% */

    margin: 0px;
    color: #FDD6BA;
}

.works__list {
         width: 1111px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    /* margin-left: 85px; */
    margin-right: 85px;
    margin-bottom: 64px;
}

.works__item {
    padding: 0px;
    margin: 0px;
    width: 300px;
    text-align: left;
    margin-right: 95px;
}

.works__item:nth-child(3n),
.works__item:last-child {
    margin-right: 0px;
}

.works__item-name {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */

    width: 255px;
    margin-top: 38px;
    margin-bottom: 42px;
    color: #333D4B;
}

.works__item-discription {
    margin: 0px;
    line-height: 26px;
    color: #333D4B;
}

.works__list::before {
    content: "";
    position: absolute;
    display: block;
    width: 790px;
    background-color: #FDD6BA;
    height: 1px;
    top: 150px;
    left: 95px;
    border: 2px solid #FDD6BA;
}
.works__item::before {
    content: "";
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #FEFCF7;
    top: 138px;
    border: 2px solid #0E8784;
    box-sizing: border-box;

}


.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__container {

    padding: 48px 0px;
    background-color: #2C343E;
}

.social__link {
    margin-left: 24px;
}

.footer__nav {
    margin-right: 340px;
}

.nav__link-h:hover {
    color: #FEFCF7;
}
/* ABOUT */
.about-intro__container{
    background-image: url(../img/abou.jpg);
    width: 1280px;
    /* height: 450px; */
    background-repeat: no-repeat;
    padding: 137px 85px;
}
.about-intro__title{
    font-family: Fraunces ;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */
color: #FEFCF7;
margin: 0px;
}
.about-intro__discription{
    line-height: 26px;
/* or 162% */
width: 445px;
margin: 0px;
margin-top: 24px;

color: #FEFCF7;
}
.commitment__container{
    margin-top: 168px;
    padding: 90px 165px 90px 735px;
    background-image: url(../img/ourimg.jpg);
    background-repeat: no-repeat;
    background-position: 85px 0px
}
.commitment__title{
    font-family: Fraunces;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */
margin: 0px;

color: #333D4B;
}
.commitment__discription{
    line-height: 26px;
/* or 162% */
margin: 0px;
margin-top: 32px;

color: #333D4B;

mix-blend-mode: normal;
opacity: 0.8;
}
.commitment__content{
    width: 541px;
}
.quality__container{
    background-color:  #2C343E;
    margin-top: 244px;
    padding-top: 100px;
    padding-left: 85px;
    padding-bottom: 150px;
    position: relative;
}
.quality__title{
    font-family: Fraunces;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */


color: #FEFCF7;
}
.quality__discription{
    line-height: 26px;
/* or 162% */


color: #FEFCF7;

mix-blend-mode: normal;
opacity: 0.8;
}
.quality__content{
    width: 541px;
}
.quality__content::after{
    content: "";
    position: absolute;
    display: block;
    width: 445px;
    height: 474px;
    background-image: url(../img/qualityimg.jpg);
    top: -100px;
    right: 85px;
    border-radius: 10px;
}
.headquarters__conrainer{
    padding-left: 85px;
    padding-top: 120px;
}
.headquarters__name{
    font-family: Fraunces;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
color: #83888F;
margin-bottom: 72px;
}
.headquarters__list{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1016;
    padding: 0px;
   
}
.headquarters__item{
   width: 272px;
margin-right: 125px;
margin-bottom: 30px;
padding-bottom: 138px;
}
.headquarters__item:nth-child(3n),.headquarters__item:last-child{
    margin-right: 0px;
   
}

.headquarters__title {
    font-family: Fraunces ;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */
    
    
    color: #333D4B;
}
.headquarters__discription {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    width: 110px;
    
    color: #333D4B;
}
.headquarters__title{
    font-family: Fraunces ;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
/* identical to box height, or 112% */


color: #333D4B;
}
.headquarters__item-list{
    list-style: none;
    padding: 0;
}
.headquarters__item-item{
    color: #333D4B;
}
/* 3-paga */
.plan-intro__container{
    background-image: url(../img/introimg3.png);
    width: 1280px;
    background-repeat: no-repeat;
    padding: 100px 85px;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
.works__dark-container{
    margin-top: 150px;
    background-color: #2C343E;
    padding-top: 200px;
    padding-bottom: 100px;
    
}
.works__item-name-plan{
    color: #FEFCF7;
}
.works__item-discription-plan{
    color: #FEFCF7;
}
.regstratsiya__container{
    width: 1110px;
    display: flex;
   

}
.regstratsiya__list{
    list-style: none;
  
}
.regstratsiya__btn{
    text-align: left;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0px;
    width: 225px;
    background-color: #FFFFFF;
 border: none;
    font-family: Fraunces;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #83888F;
border-bottom: 1px solid #83888F;
}
.regstratsiya__btn-num{
    display: inline;
    margin: 0px;
    margin-right: 5px;

}
.regstratsiya__list{
    padding: 0px;
    margin: 0px;
}
.regstratsiya__item:hover .regstratsiya__btn-num{
    color: #0E8784;;
}
.regstratsiya__item:hover .regstratsiya__btn{
    color:  #333D4B;
}
.regstratsiya__form-btn{
    font-family: Fraunces;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #83888F;
}
.regstratsiya__form{
    width: 730px;
    margin-left: 165px;
}
.regstratsiya__form-list{
    list-style: none;
    padding: 0px;
}
.regstratsiya__form-item:not(:first-child){
    margin-top: 88px;
}
.regstratsiya__form-btn{
    width: 100%;
    text-align: left;
    background-color: #fff;
    border: none;
}
.radiolar{
    width: 100%;

}
.radiolar{
    display: flex;
    margin-top: 56px;
}
.radiolar__form{
    background: #F4F1EB;

    margin-right: 23px;
    border-radius: 8px;
}
.radiolar__form:nth-child(3n){
    margin-right: 0px;
}
.radiolar__radio:checked + .radiolar__div{
    background-color: #0E8784;
    color: #fff;
}
.radiolar__div{
    width: 228px;
    padding: 32px 28px 84px;
    border-radius: 8px;
  
}
.regstratsiya{
    margin-top: 150px;
}