
.crate-plan {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    color: #FEFCF7;
    padding: 16px 31px;
    background: #0E8784;
    border-radius: 6px;

}

.crate-plan:hover {
    background: #66D2CF;
    border-radius: 6px;
}