.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__container {

    padding: 48px 0px;
    background-color: #2C343E;
}


.footer__nav {
    margin-right: 340px;
}
