// .headquarters{
//     display: none;
// }
.headquarters__conrainer{
    padding-left: 85px;
    padding-top: 120px;
}
.headquarters__name{
    font-family: Fraunces;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
color: #83888F;
margin-bottom: 72px;
}
.headquarters__list{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1016;
    padding: 0px;
   
}
.headquarters__item{
   width: 272px;
margin-right: 125px;
margin-bottom: 30px;
padding-bottom: 138px;
}
.headquarters__item:nth-child(3n),.headquarters__item:last-child{
    margin-right: 0px;
   
}

.headquarters__title {
    font-family: Fraunces ;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */
    
    
    color: #333D4B;
}
.headquarters__discription {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    width: 110px;
    
    color: #333D4B;
}
.headquarters__title{
    font-family: Fraunces ;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
/* identical to box height, or 112% */


color: #333D4B;
}
.headquarters__item-list{
    list-style: none;
    padding: 0;
}
.headquarters__item-item{
    color: #333D4B;
    color: #333D4B;
}
@media screen and (max-width:  $planshet) {
  .headquarters__conrainer{
      padding: 0px;
      padding-left: 15px;
      padding-right: 15px;
      
  }
  .headquarters__list{
      width: 680px;
      
  }
  .headquarters__item{
      margin: 0px;
      width: 223px;
  }
  .headquarters__title{
    font-size: 24px;
    line-height: 36px;
    
  }
  .headquarters__conrainer{
    margin-top: 80px;
}
}

@media screen and (max-width:  $mobile) {
  .headquarters__list{
      flex-direction: column;
      width: 326px;
      margin: 0px;
  }
  .headquarters__item{
 text-align: center;

    }
    .headquarters__conrainer{
        text-align: center;
    }
}