.intro{
    margin-left: 30px;
}
.intro__title {
    font-family: Fraunces;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    width: 493px;
    margin: 0px;
}

.intro__discription {
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 445px;
    margin-bottom: 56px;
}

.intro__container {
    background-image: url(../img/intro-img1.jpg);
    
    /* height: 600px; */
    background-repeat: no-repeat;
    padding-top: 20px;
   background-size: cover;
border-radius: 10px;
    padding: 117px 115px;

}


.intro__content {
    
    width: 495px;
}
.intro__crate-plan {
    margin-bottom: 132px;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
    .intro__container{
        background-image: url(../img/introhome@2x.png);
    }
}
@media screen and (max-width:  $planshet) {
  .intro__container{
    
     background-image: url(../img/intro_planshet.png);
     padding: 104px 73px;
  }
   .intro__content{
       width: 400px;
   }
   .intro__title{
       width: 329px;
       font-size: 48px;
line-height: 48px;
   }
   .intro__discription{
       width: 398px;
       font-size: 15px;
line-height: 25px;
   }
}
@media screen and (max-width:  $mobile) {
  .intro__container{

      background-image: url(../img/intro_phone.jpg);
       padding: 100px 24px;

  }
  .intro__content{
      width: 280px;
      text-align: center;
  }
  .intro__title{
      width: 279px;
      font-size: 40px;
line-height: 40px;
  }
  .intro__discription{
      width: 279px;
      font-size: 15px;
line-height: 25px;
  }
}