// .quality{
//     display: none;
// }
.quality__container{
    background-color:  #2C343E;
    margin-top: 244px;
    padding-top: 100px;
    padding-left: 85px;
    padding-bottom: 150px;
    position: relative;
    border-radius: 10px;
}
.quality__title{
    font-family: Fraunces;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */


color: #FEFCF7;
}
.headquarters__item-item{
    margin-bottom: 15px;
}
.quality__discription{
    line-height: 26px;
/* or 162% */


color: #FEFCF7;

mix-blend-mode: normal;
opacity: 0.8;
}
.quality__content{
    width: 541px;
}
.quality__content::after{
    content: "";
    position: absolute;
    display: block;
    width: 445px;
    height: 474px;
    background-image: url(../img/qualityimg.jpg);
    top: -100px;
    right: 85px;
    border-radius: 10px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .quality__content::after{
        background-image: url(../img/quality@2x.png);
      }
}
@media screen and (max-width:  $planshet) {
    .quality__content::after{
        width: 573px;
        height: 320px;
        background-image: url(../img/quality_planshet.jpg);
        left: 75px;
    }
    .quality__container{
        padding: 220px 90px 60px;
        padding-top: 220px;
        text-align: center;
    }
    .quality__content{
        width: 540px;
        text-align: center;
    }
}
@media screen and (max-width:  $mobile) {
   .quality__container{
       padding: 100px 22px ;
       border-radius: 10px;
   }
    .quality__content::after{
        top: -70px;
        width: 279px;
        height: 156px;
        background-image: url(../img/quality_planshet.jpg);
        background-size: contain;
        left: 23px;
    }
    .quality__content{
        width: 280px;
        margin: 0px;
    }
    .quality__title{
        font-size: 28px;
line-height: 28px;
    }
    .quality__discription{
        font-size: 15px;
line-height: 25px;
margin: 0px;
    }
}