// .works{
//     display: none;
// }
.works__container {
    position: relative;
    padding-bottom: 216px;
    padding-left: 85px;
}


.works__name {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    /* margin-left: 85px; */
    margin-bottom: 178px;
}

.works__num {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    /* identical to box height, or 100% */

    margin: 0px;
    color: #FDD6BA;
}

.works__list {
         width: 1111px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    /* margin-left: 85px; */
    margin-right: 85px;
    margin-bottom: 64px;
}

.works__item {
    padding: 0px;
    margin: 0px;
    width: 300px;
    text-align: left;
    margin-right: 95px;
}

.works__item:nth-child(3n),
.works__item:last-child {
    margin-right: 0px;
}

.works__item-name {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */

    width: 255px;
    margin-top: 38px;
    margin-bottom: 42px;
    color: #333D4B;
}

.works__item-discription {
    margin: 0px;
    line-height: 26px;
    color: #333D4B;
}

.works__list::before {
    content: "";
    position: absolute;
    display: block;
    width: 790px;
    background-color: #FDD6BA;
    height: 1px;
    top: 150px;
    left: 95px;
    border: 2px solid #FDD6BA;
}
.works__item::before {
    content: "";
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #FEFCF7;
    top: 138px;
    border: 2px solid #0E8784;
    box-sizing: border-box;

}

.works__dark-container{
    margin-top: 150px;
    background-color: #2C343E;
    padding-top: 200px;
    padding-bottom: 100px;
    
}
.works__item-name-plan{
    color: #FEFCF7;
}
.works__item-discription-plan{
    color: #FEFCF7;
}
@media screen and (max-width:  $planshet) {
   
    .works__name{
        font-size: 24px;
line-height: 32px;
// margin-left: 15px;
    }
    .works__list::before{
        width: 467px;
        height: 2px;
        left: 15px;
    }
    .works__list{
        margin: 0px;
        padding: 0px;
        width: 688px;
        margin-right: 10px;
    }
    .works__item{
        width: 223px;
        margin: 0px;
        align-items: flex-start;

    }
    .works__container{
        padding: 0px;
    }
    .works__num{
        font-size: 72px;
line-height: 72px;
    }
    .works__item-name{
        font-size: 28px;
line-height: 32px;
width: 223px;
    }
    .works__item-discription{
        font-size: 15px;
line-height: 25px;
width: 210px;
margin-bottom: 44px;
    }
    .works__item::before {
        left: 100;
    }
    .works__link{
       width: 217px;
    }
    .works__dark-container{
        margin-top: 150px;
        background-color: #2C343E;
        
        padding-bottom: 100px;
        
        
    }
}
@media screen and (max-width:  $mobile) {
    .works__container{
     text-align: center;  
    padding: 24px;
    }
    .works__name{
        margin: 0px;
        margin-bottom: 80px;
    }
    .works__list{
        flex-direction: column;
        width: 327px;
        margin-top: 80px;
        padding: 0px;
        margin: 0;
    }
    .works__item{
        width: 100%;
        margin: 0px;
        padding: 0;
        text-align: center;
        
    }
    .works__item::before{
        display: none;
    }
    .works__list::before{
    display: none;
    }
    .works__item-discription{
    width: 327px;
  text-align: center;
    }
    .works__link{
        width: 100%;
        margin-left: 50px;
    }
    .works__item-name{
        width: 100%;
        
    }
    
}